<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="voidream.vcontroller">

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true" />

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="VController"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetTimer"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".SettingOutput"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Statistic"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".LoadSave"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".AboutUs"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingOutputForm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Config"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".IoCommandForm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HowItWorks"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".IoCommand"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
    </application>

</manifest>